@import "tailwindcss";

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.progress-shimmer {
  animation: shimmer 2s linear infinite;
}

@custom-variant dark (&:is(.dark *));
